@import url(owl.carousel.css);
@import url(owl.theme.default.css);
@import url(bootstrap.css);
@import url(menu.css);
@font-face {
  font-family: 'Poppins 500';
  src: url("../fonts/Poppins-Medium.eot");
  src: url("../fonts/Poppins-Medium.eot?#iefix") format("embedded-opentype"), url("../fonts/Poppins-Medium.woff2") format("woff2"), url("../fonts/Poppins-Medium.woff") format("woff"), url("../fonts/Poppins-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap; }
@font-face {
  font-family: 'Roboto 700';
  src: url("../fonts/Roboto-Bold.eot");
  src: url("../fonts/Roboto-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/Roboto-Bold.woff2") format("woff2"), url("../fonts/Roboto-Bold.woff") format("woff"), url("../fonts/Roboto-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
  font-display: swap; }
@font-face {
  font-family: 'Poppins 600';
  src: url("../fonts/Poppins-SemiBold.eot");
  src: url("../fonts/Poppins-SemiBold.eot?#iefix") format("embedded-opentype"), url("../fonts/Poppins-SemiBold.woff2") format("woff2"), url("../fonts/Poppins-SemiBold.woff") format("woff"), url("../fonts/Poppins-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
  font-display: swap; }
@font-face {
  font-family: 'DM Sans 400';
  src: url("../fonts/DMSans-Regular.eot");
  src: url("../fonts/DMSans-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/DMSans-Regular.woff2") format("woff2"), url("../fonts/DMSans-Regular.woff") format("woff"), url("../fonts/DMSans-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap; }
@font-face {
  font-family: 'Ubuntu 400';
  src: url("../fonts/Ubuntu-Regular.eot");
  src: url("../fonts/Ubuntu-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/Ubuntu-Regular.woff2") format("woff2"), url("../fonts/Ubuntu-Regular.woff") format("woff"), url("../fonts/Ubuntu-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap; }
@font-face {
  font-family: 'Roboto 500';
  src: url("../fonts/Roboto-Medium.eot");
  src: url("../fonts/Roboto-Medium.eot?#iefix") format("embedded-opentype"), url("../fonts/Roboto-Medium.woff2") format("woff2"), url("../fonts/Roboto-Medium.woff") format("woff"), url("../fonts/Roboto-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap; }
@font-face {
  font-family: 'Roboto 400';
  src: url("../fonts/Roboto-Regular.eot");
  src: url("../fonts/Roboto-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/Roboto-Regular.woff2") format("woff2"), url("../fonts/Roboto-Regular.woff") format("woff"), url("../fonts/Roboto-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap; }
@font-face {
  font-family: 'Poppins 400';
  src: url("../fonts/Poppins-Regular.eot");
  src: url("../fonts/Poppins-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/Poppins-Regular.woff2") format("woff2"), url("../fonts/Poppins-Regular.woff") format("woff"), url("../fonts/Poppins-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap; }
@font-face {
  font-family: 'SF Pro Display';
  src: url("../fonts/SFProDisplay-Regular.eot");
  src: url("../fonts/SFProDisplay-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/SFProDisplay-Regular.woff2") format("woff2"), url("../fonts/SFProDisplay-Regular.woff") format("woff"), url("../fonts/SFProDisplay-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap; }
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

body {
  background-image: url("../images/bg_body.jpg");
  background-size: cover; }

.container {
  max-width: 1170px;
  margin: 0 auto; }

.nav-active .nav-but-wrap {
  position: fixed;
  right: 15px; }

.cd-header {
  height: 0; }
  .cd-header .nav-but-wrap {
    position: fixed;
    right: 15px; }
    @media screen and (max-width: 768px) {
      .cd-header .nav-but-wrap {
        display: inline-block; } }
  .cd-header .nav__list {
    margin-bottom: 0; }
  .cd-header .row {
    margin-right: inherit;
    margin-left: inherit; }
  @media screen and (max-width: 950px) {
    .cd-header .nav__list-item {
      margin-left: 30px; } }
  @media screen and (max-width: 768px) {
    .cd-header .nav__content {
      visibility: inherit; }
    .cd-header .nav {
      position: fixed; }
    .cd-header .nav__content {
      position: fixed;
      visibility: hidden;
      transform: none; }
    .cd-header .nav__list-item {
      opacity: 0;
      margin-left: 0;
      overflow: inherit; }
      .cd-header .nav__list-item:nth-child(1) {
        margin-top: 20px;
        margin-left: 20px;
        display: flex;
        justify-content: left; }
      .cd-header .nav__list-item:nth-child(2) {
        margin-top: 60px; }
        .cd-header .nav__list-item:nth-child(2) a {
          font-size: 40px; }
      .cd-header .nav__list-item:nth-child(3) {
        margin-top: 60px; }
        .cd-header .nav__list-item:nth-child(3) a {
          font-size: 40px; }
      .cd-header .nav__list-item:nth-child(4) {
        margin-top: 60px; }
        .cd-header .nav__list-item:nth-child(4) a {
          font-size: 40px; }
      .cd-header .nav__list-item:nth-child(5) {
        margin-top: 60px; }
        .cd-header .nav__list-item:nth-child(5) a {
          font-size: 40px; }
      .cd-header .nav__list-item:nth-child(6) {
        margin-top: 60px; }
        .cd-header .nav__list-item:nth-child(6) a {
          font-size: 40px;
          padding: 30px 50px; }
    .cd-header .nav__list {
      display: block; }
    .cd-header .header-wrapper {
      width: 100%; }
    .cd-header .mob_logo {
      display: block; }
      .cd-header .mob_logo a {
        opacity: 1; } }
  @media screen and (max-width: 768px) {
    .cd-header .nav__list-item:nth-child(3) {
      margin-top: 15px; }
    .cd-header .nav__list-item:nth-child(4) {
      margin-top: 15px; }
    .cd-header .nav__list-item:nth-child(5) {
      margin-top: 15px; }
    .cd-header .nav__list-item:nth-child(6) {
      margin-top: 30px; }
    .cd-header .nav__list-item:nth-child(2) a {
      font-size: 20px; }
    .cd-header .nav__list-item:nth-child(3) a {
      font-size: 20px;
      color: #40A3F8;
      opacity: 1; }
    .cd-header .nav__list-item:nth-child(3) a:hover {
      color: #0056b3; }
    .cd-header .nav__list-item:nth-child(4) a:hover {
      color: #0056b3; }
    .cd-header .nav__list-item:nth-child(5) a:hover {
      color: #0056b3; }
    .cd-header .nav__list-item:nth-child(4) a {
      font-size: 20px;
      color: #40A3F8;
      opacity: 1; }
    .cd-header .nav__list-item:nth-child(5) a {
      font-size: 20px;
      color: #40A3F8;
      opacity: 1; }
    .cd-header .nav__list-item:nth-child(6) a {
      font-size: 20px;
      padding: 10px 15px; } }

.main_section {
  height: 100vh; }
  .main_section .content {
    background-size: cover;
    display: flex;
    align-items: center;
    height: 100%;
    width: 100%;
    position: relative; }
    .main_section .content h1 {
      font-family: 'Roboto 700', serif;
      font-style: normal;
      font-weight: 700;
      font-size: 48px;
      line-height: 70px;
      color: #3E3E3E;
      margin-bottom: 31px; }
      @media screen and (max-width: 991px) {
        .main_section .content h1 {
          font-size: 40px;
          line-height: 40px; } }
      @media screen and (max-width: 840px) {
        .main_section .content h1 {
          font-size: 33px; } }
      .main_section .content h1 span {
        color: #40A3F8; }
        @media screen and (max-width: 991px) {
          .main_section .content h1 span {
            font-size: 40px;
            line-height: 40px; } }
        @media screen and (max-width: 840px) {
          .main_section .content h1 span {
            font-size: 33px; } }
    .main_section .content p {
      font-family: 'Roboto 400', serif;
      font-style: normal;
      font-weight: 400;
      font-size: 14px;
      line-height: 30px;
      color: rgba(117, 117, 117, 0.46);
      margin-bottom: 50px; }
    .main_section .content .search_block {
      display: flex;
      max-width: 630px;
      background: #FFFFFF;
      box-shadow: 0 4px 22px rgba(228, 245, 252, 0.3);
      border-radius: 8px;
      padding: 13px;
      justify-content: space-between; }
      @media screen and (max-width: 950px) {
        .main_section .content .search_block {
          display: block; } }
      @media screen and (max-width: 768px) {
        .main_section .content .search_block {
          margin: auto; } }
      @media screen and (max-width: 991px) {
        .main_section .content .search_block {
          justify-content: space-between;
          margin: auto; } }
      .main_section .content .search_block .form_item1 {
        max-width: 216px;
        width: 100%;
        padding: 17px 30px;
        background: rgba(245, 246, 250, 0.52);
        border-radius: 8px;
        align-items: center; }
        @media screen and (max-width: 1150px) {
          .main_section .content .search_block .form_item1 {
            max-width: 170px;
            padding: 15px 10px; } }
        @media screen and (max-width: 950px) {
          .main_section .content .search_block .form_item1 {
            max-width: inherit;
            width: 100%;
            padding: 15px 10px;
            margin-bottom: 10px; } }
        .main_section .content .search_block .form_item1 input {
          display: inline-block;
          font-family: 'Poppins 400', serif;
          font-style: normal;
          font-weight: 400;
          font-size: 14px;
          line-height: 24px;
          color: rgba(0, 0, 0, 0.3);
          border: none;
          background: transparent;
          outline: none; }
          @media screen and (max-width: 1150px) {
            .main_section .content .search_block .form_item1 input {
              font-size: 10px; } }
          @media screen and (max-width: 950px) {
            .main_section .content .search_block .form_item1 input {
              font-size: 14px; } }
      .main_section .content .search_block .form_item2 {
        max-width: 203px;
        width: 100%;
        padding-top: 17px;
        padding-bottom: 17px;
        padding-left: 50px;
        background: rgba(245, 246, 250, 0.52);
        border-radius: 8px;
        align-items: center;
        display: flex;
        position: relative; }
        @media screen and (max-width: 1150px) {
          .main_section .content .search_block .form_item2 {
            max-width: 170px;
            padding: 15px 10px;
            margin-right: 70px; } }
        @media screen and (max-width: 1080px) {
          .main_section .content .search_block .form_item2 {
            margin-right: 40px; } }
        @media screen and (max-width: 1000px) {
          .main_section .content .search_block .form_item2 {
            margin-right: 20px; } }
        @media screen and (max-width: 950px) {
          .main_section .content .search_block .form_item2 {
            max-width: inherit;
            width: 100%;
            margin-bottom: 10px; } }
        .main_section .content .search_block .form_item2 label {
          display: none; }
        .main_section .content .search_block .form_item2:after {
          content: "";
          position: absolute;
          top: 25px;
          right: 20px;
          display: block;
          width: 14px;
          height: 8px;
          background-image: url("../images/arrow_left.svg");
          pointer-events: none; }
        .main_section .content .search_block .form_item2:before {
          content: "";
          position: absolute;
          top: 20px;
          left: 28px;
          display: block;
          width: 15px;
          height: 17px;
          background-image: url("../images/Location.svg"); }
          @media screen and (max-width: 1150px) {
            .main_section .content .search_block .form_item2:before {
              background-image: none; } }
        .main_section .content .search_block .form_item2 select {
          display: block;
          width: 100%;
          background: transparent;
          border: none;
          outline: none;
          appearance: none;
          -webkit-appearance: none;
          cursor: pointer;
          font-family: 'Poppins 400', serif;
          font-style: normal;
          font-weight: 400;
          font-size: 14px;
          line-height: 24px;
          color: #3D3D3F; }
          @media screen and (max-width: 950px) {
            .main_section .content .search_block .form_item2 select {
              text-align: center;
              margin-left: -15px; } }
          @media screen and (max-width: 1150px) {
            .main_section .content .search_block .form_item2 select {
              font-size: 10px; } }
          @media screen and (max-width: 950px) {
            .main_section .content .search_block .form_item2 select {
              font-size: 14px; } }
      .main_section .content .search_block .form_button {
        width: 70px;
        height: 59px;
        background: #40A3F8;
        border-radius: 8px;
        cursor: pointer;
        z-index: 2; }
        .main_section .content .search_block .form_button button {
          background: transparent;
          width: 100%;
          height: 100%;
          border: none;
          cursor: pointer; }
    .main_section .content .doctor_bg {
      position: relative; }
      .main_section .content .doctor_bg .doctor_bg_circle {
        position: absolute;
        top: -65px;
        right: -90px; }
      .main_section .content .doctor_bg .female_doctor {
        position: absolute;
        top: -40px;
        right: -160px; }
      .main_section .content .doctor_bg .round_bg {
        background: radial-gradient(103.57% 103.57% at 50% 0%, #FDFEFE 0%, #FDFEFE 100%);
        box-shadow: 0 4px 22px rgba(0, 0, 0, 0.05);
        width: 70px;
        height: 70px;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center; }
      .main_section .content .doctor_bg .tel_round {
        position: relative;
        top: -30px;
        left: 120px; }
        @media screen and (max-width: 1118px) {
          .main_section .content .doctor_bg .tel_round {
            top: -30px;
            left: 70px; } }
      .main_section .content .doctor_bg .chat_round {
        position: absolute;
        top: 190px;
        left: 20px; }
        @media screen and (max-width: 1118px) {
          .main_section .content .doctor_bg .chat_round {
            left: -10px; } }
        @media screen and (max-width: 1050px) {
          .main_section .content .doctor_bg .chat_round {
            left: -30px; } }
      .main_section .content .doctor_bg .video_round {
        position: absolute;
        top: 0;
        right: -40px; }
        @media screen and (max-width: 1230px) {
          .main_section .content .doctor_bg .video_round {
            display: none; } }
      .main_section .content .doctor_bg .square_bg1 {
        display: flex;
        position: absolute;
        align-items: center;
        top: 450px;
        left: 30px;
        background: radial-gradient(103.57% 103.57% at 50% 0%, #FDFEFE 0%, #FDFEFE 100%);
        box-shadow: 0 4px 22px rgba(0, 0, 0, 0.05);
        padding: 12px 12px 12px 12px;
        border-radius: 10px; }
        .main_section .content .doctor_bg .square_bg1 .round_doctor {
          display: block;
          width: 42px;
          height: 42px; }
        .main_section .content .doctor_bg .square_bg1 .stars {
          margin-left: 12px; }
        .main_section .content .doctor_bg .square_bg1 .lines img {
          display: block; }
          .main_section .content .doctor_bg .square_bg1 .lines img:first-of-type {
            margin-bottom: 6px; }
          .main_section .content .doctor_bg .square_bg1 .lines img:last-of-type {
            margin-top: 6px; }
      .main_section .content .doctor_bg .square_bg2 {
        max-width: 162px;
        width: 100%;
        background: radial-gradient(103.57% 103.57% at 50% 0%, #FDFEFE 0%, #FDFEFE 100%);
        box-shadow: 0 4px 22px rgba(0, 0, 0, 0.05);
        padding: 6px 26px 10px 26px;
        border-radius: 10px;
        position: relative;
        text-align: center;
        top: 300px;
        left: 500px; }
        @media screen and (max-width: 1360px) {
          .main_section .content .doctor_bg .square_bg2 {
            display: none; } }
        .main_section .content .doctor_bg .square_bg2 .img {
          display: inline-block; }
        .main_section .content .doctor_bg .square_bg2 p {
          font-family: 'Poppins 600', serif;
          font-style: normal;
          font-weight: 600;
          font-size: 24px;
          line-height: 36px;
          letter-spacing: 0.02em;
          color: #3D3D3F;
          margin-bottom: 0; }
        .main_section .content .doctor_bg .square_bg2 span {
          font-family: 'Poppins 400', serif;
          font-style: normal;
          font-weight: 400;
          font-size: 14px;
          line-height: 21px;
          letter-spacing: 0.02em;
          color: rgba(61, 61, 63, 0.56); }

.easy_steps {
  padding-top: 75px;
  padding-bottom: 79px; }
  .easy_steps .container h2 {
    font-family: 'Roboto 500', serif;
    font-style: normal;
    font-weight: 500;
    font-size: 42px;
    line-height: 70px;
    color: #3E3E3E;
    margin-bottom: 51px; }
  .easy_steps .container .bg_round1 {
    width: 80px;
    height: 80px;
    box-shadow: 0 4px 22px rgba(0, 0, 0, 0.05);
    border-radius: 50%;
    background: rgba(56, 175, 255, 0.1) url("../images/search_step.svg") 16px 19px no-repeat; }
  .easy_steps .container .bg_round2 {
    width: 80px;
    height: 80px;
    box-shadow: 0 4px 22px rgba(0, 0, 0, 0.05);
    border-radius: 50%;
    background: rgba(255, 170, 6, 0.12) url("../images/calendar.svg") 17px 17px no-repeat; }
  .easy_steps .container .bg_round3 {
    width: 80px;
    height: 80px;
    box-shadow: 0 4px 22px rgba(0, 0, 0, 0.05);
    border-radius: 50%;
    background: rgba(99, 203, 254, 0.65) url("../images/healthcare-min.png") 17px 17px no-repeat;
    opacity: 0.8; }
  .easy_steps .container .calendar {
    padding: 200px 14.11px 15px 17.13px; }
  .easy_steps .container img:last-of-type {
    padding: 17px 10.08px 13px 16.12px; }
  .easy_steps .container h4 {
    font-family: 'Roboto 500', serif;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 32px;
    color: #3D3D3F;
    margin-bottom: 18px; }
  .easy_steps .container p {
    max-width: 295px;
    font-family: 'Roboto', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 20px;
    text-align: center;
    color: rgba(0, 0, 0, 0.5); }

.best_quality {
  padding-bottom: 50px; }
  .best_quality .quality_left {
    max-width: 545px;
    border-radius: 5px 5px 272.5px 272.5px;
    height: 582px;
    position: relative;
    overflow: hidden; }
    @media screen and (max-width: 768px) {
      .best_quality .quality_left {
        margin: auto; } }
    @media screen and (max-width: 500px) {
      .best_quality .quality_left {
        display: none; } }
    .best_quality .quality_left .doctor_top {
      height: 50%; }
      .best_quality .quality_left .doctor_top img {
        display: block;
        position: absolute;
        top: 110px;
        left: 68px; }
    .best_quality .quality_left .doctor_bottom {
      height: 50%;
      background: #40A3F8 url("../images/shape.png");
      border-radius: 0 5px 0 0; }
      .best_quality .quality_left .doctor_bottom img {
        position: absolute;
        display: block;
        bottom: 0; }
  .best_quality .quality_right {
    max-width: 506px; }
    @media screen and (max-width: 768px) {
      .best_quality .quality_right {
        margin: auto; } }
    .best_quality .quality_right h2 {
      margin: 120px 0 24px 5px;
      font-family: 'Roboto 500', serif;
      font-style: normal;
      font-weight: 500;
      font-size: 42px;
      line-height: 49px;
      letter-spacing: 0.02em;
      color: #3D3D3F; }
      @media screen and (max-width: 991px) {
        .best_quality .quality_right h2 {
          font-size: 30px; } }
      @media screen and (max-width: 768px) {
        .best_quality .quality_right h2 {
          font-size: 35px; } }
    .best_quality .quality_right p {
      margin-bottom: 3px;
      font-family: 'Roboto 400', serif;
      font-style: normal;
      font-weight: 400;
      font-size: 18px;
      line-height: 30px;
      letter-spacing: 0.02em;
      color: rgba(61, 61, 63, 0.7); }
      @media screen and (max-width: 991px) {
        .best_quality .quality_right p {
          font-size: 15px; } }
      @media screen and (max-width: 768px) {
        .best_quality .quality_right p {
          font-size: 18px; } }
    .best_quality .quality_right ul {
      list-style: none; }
      .best_quality .quality_right ul li {
        font-family: 'Roboto 400', serif;
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 30px;
        letter-spacing: 0.02em;
        color: #3D3D3F;
        margin-bottom: 14px;
        margin-left: 0; }
        @media screen and (max-width: 991px) {
          .best_quality .quality_right ul li {
            font-size: 12px; } }
        @media screen and (max-width: 768px) {
          .best_quality .quality_right ul li {
            font-size: 16px; } }
        .best_quality .quality_right ul li:before {
          content: "";
          background-image: url("../images/check.svg");
          display: inline-block;
          width: 18px;
          height: 18px;
          position: relative;
          top: 4px;
          margin-right: 18px; }
        .best_quality .quality_right ul li:last-of-type {
          margin-bottom: 24px; }
    .best_quality .quality_right a {
      text-decoration: none;
      background: #40A3F8;
      border-radius: 5px;
      padding: 10px 20px;
      font-family: 'Roboto 400', serif;
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 30px;
      letter-spacing: 0.02em;
      color: #FFFFFF; }
      .best_quality .quality_right a:after {
        content: "";
        display: inline-block;
        background-image: url("../images/vector_a.svg");
        width: 14px;
        height: 11px;
        margin-left: 10px; }
  .best_quality .square_khalid {
    width: 270px;
    background: #FFFFFF;
    box-shadow: 0 4px 22px rgba(0, 0, 0, 0.05);
    border-radius: 6px;
    padding: 34px 26px 20px 26px;
    text-align: center;
    position: relative; }
    @media screen and (max-width: 500px) {
      .best_quality .square_khalid {
        display: none; } }
    .best_quality .square_khalid .heart_img {
      position: absolute;
      top: -43px;
      left: 90px; }
    .best_quality .square_khalid .khalid_row1 img:first-of-type {
      display: block;
      position: absolute;
      top: 22px;
      left: -10px; }
    .best_quality .square_khalid .khalid_row1 .khalid_text h4 {
      font-family: 'Poppins 500', serif;
      font-style: normal;
      font-weight: 500;
      font-size: 20px;
      line-height: 32px;
      color: #3D3D3F; }
    .best_quality .square_khalid .khalid_row1 .khalid_text p {
      font-family: 'Poppins 400', serif;
      font-style: normal;
      font-weight: 400;
      font-size: 12px;
      line-height: 18px;
      color: rgba(61, 61, 63, 0.4);
      margin-bottom: 0; }
      .best_quality .square_khalid .khalid_row1 .khalid_text p span {
        font-family: 'Poppins', serif;
        font-style: normal;
        font-weight: 400;
        font-size: 12px;
        line-height: 18px;
        color: #3D3D3F;
        margin-left: 23px; }
        .best_quality .square_khalid .khalid_row1 .khalid_text p span:before {
          content: "";
          display: inline-block;
          background-image: url("../images/star.svg");
          width: 14px;
          height: 14px;
          position: absolute;
          right: 45px; }
    .best_quality .square_khalid .khalid_row2 {
      max-width: 206px; }
      .best_quality .square_khalid .khalid_row2 .khalid_text_center {
        text-align: center; }
        .best_quality .square_khalid .khalid_row2 .khalid_text_center p {
          font-family: 'SF Pro Display 400', serif;
          font-style: normal;
          font-weight: 400;
          font-size: 12px;
          line-height: 32px;
          display: flex;
          letter-spacing: 0.02em;
          color: #A0A2B3;
          margin-bottom: 0; }
        .best_quality .square_khalid .khalid_row2 .khalid_text_center span {
          text-align: center;
          font-family: 'Poppins 500', serif;
          font-style: normal;
          font-weight: 500;
          font-size: 12px;
          line-height: 32px;
          align-items: center;
          color: #636481;
          display: inline-block;
          position: relative;
          top: -10px; }
    .best_quality .square_khalid .location {
      font-family: 'Poppins 400', serif;
      font-style: normal;
      font-weight: 400;
      font-size: 12px;
      line-height: 18px;
      letter-spacing: 0.02em;
      color: #3D3D3F;
      margin-bottom: 0; }
      .best_quality .square_khalid .location:before {
        display: inline-block;
        content: "";
        background: url("../images/Location.svg") 0 0 no-repeat;
        width: 15px;
        height: 18px;
        position: relative;
        left: -8px;
        top: 4px; }
  .best_quality .khalid_position {
    top: 250px;
    left: -70px; }
    @media screen and (max-width: 1300px) {
      .best_quality .khalid_position {
        left: 50px; } }
  .best_quality .square_bg3 {
    display: flex;
    align-items: center;
    max-width: 230px;
    width: 100%;
    background: #FFFFFF;
    box-shadow: 0 4px 22px rgba(0, 0, 0, 0.05);
    border-radius: 6px;
    position: absolute;
    left: 350px;
    top: 140px;
    padding: 13.5px 16px 13.5px 16px; }
    @media screen and (max-width: 1100px) {
      .best_quality .square_bg3 {
        display: none; } }
    .best_quality .square_bg3 img:first-of-type {
      margin-right: 14px; }
    .best_quality .square_bg3 .lines img:first-of-type {
      margin-bottom: 9px; }
    .best_quality .square_bg3 .lines img:last-of-type {
      margin-top: 9px; }

.our_service {
  padding-top: 50px;
  padding-bottom: 60px; }
  .our_service h2 {
    font-family: 'Roboto 500', serif;
    font-style: normal;
    font-weight: 500;
    font-size: 42px;
    line-height: 49px;
    letter-spacing: 0.02em;
    color: #3D3D3F;
    margin-bottom: 24px; }
  .our_service p {
    font-family: 'Roboto 400', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    text-align: center;
    letter-spacing: 0.02em;
    color: rgba(61, 61, 63, 0.7);
    margin-bottom: 75px; }
  .our_service .owl-carousel_1 .owl-item {
    max-width: 349px;
    width: 100%;
    background-color: #FFFFFF;
    border-radius: 10px;
    min-height: 316px;
    box-shadow: 0 4px 120px rgba(0, 0, 0, 0.05);
    padding: 162px 20px 31px 20px;
    position: relative; }
    .our_service .owl-carousel_1 .owl-item h4 {
      font-family: 'Roboto 500', serif;
      font-style: normal;
      font-weight: 500;
      font-size: 18px;
      line-height: 30px;
      text-align: center;
      color: #3D3D3F; }
    .our_service .owl-carousel_1 .owl-item p {
      width: 230px;
      font-family: 'Roboto 400', serif;
      font-style: normal;
      font-weight: 400;
      font-size: 14px;
      line-height: 22px;
      color: #999999;
      margin: auto auto 0; }
    .our_service .owl-carousel_1 .owl-item img {
      display: inline-block; }
    .our_service .owl-carousel_1 .owl-item .item_1 > img {
      width: 83px;
      position: absolute;
      left: 121px;
      top: 61px; }
    .our_service .owl-carousel_1 .owl-item .item_2 > img {
      width: 76px;
      position: absolute;
      left: 136px;
      top: 66px; }
    .our_service .owl-carousel_1 .owl-item .item_3 > img {
      width: 66px;
      position: absolute;
      left: 135px;
      top: 64px; }
  .our_service .owl-carousel_1 .owl-stage {
    margin-bottom: 94px; }
  .our_service .owl-carousel_1 .owl-dots {
    display: flex;
    justify-content: center; }
    .our_service .owl-carousel_1 .owl-dots .owl-dot:hover span {
      background: #40A3F8; }
    .our_service .owl-carousel_1 .owl-dots span {
      width: 18px;
      height: 18px;
      background: #DBE8EE; }
    .our_service .owl-carousel_1 .owl-dots .active span {
      width: 60px;
      height: 15px;
      background: #40A3F8;
      border-radius: 6px;
      position: relative;
      transition: 1.5s; }

.online_doctors {
  padding-top: 60px;
  padding-bottom: 115px; }
  @media screen and (max-width: 768px) {
    .online_doctors {
      padding-bottom: 0; } }
  .online_doctors .doctors_block {
    margin-bottom: 58px; }
  .online_doctors .container:first-of-type {
    text-align: center; }
    .online_doctors .container:first-of-type h2 {
      font-family: 'Roboto 500', serif;
      font-style: normal;
      font-weight: 500;
      font-size: 42px;
      line-height: 49px;
      letter-spacing: 0.02em;
      color: #3D3D3F;
      text-align: center;
      margin-bottom: 16px; }
    .online_doctors .container:first-of-type p {
      font-family: 'Roboto 400', serif;
      font-style: normal;
      font-weight: 400;
      font-size: 18px;
      line-height: 30px;
      text-align: center;
      letter-spacing: 0.02em;
      color: rgba(61, 61, 63, 0.7);
      margin-bottom: 69px; }
    .online_doctors .container:first-of-type img {
      display: inline-block;
      margin-bottom: 16px; }
  .online_doctors .online_doctor_bg {
    max-width: 267px;
    padding: 10px 13px 27px 13px;
    background: linear-gradient(138.88deg, rgba(254, 254, 254, 0) -2.44%, #F9F9F9 -2.43%, rgba(254, 254, 254, 0.51) 98.26%);
    filter: drop-shadow(0px 4px 120px rgba(0, 0, 0, 0.05));
    border-radius: 10px; }
    @media screen and (max-width: 1070px) {
      .online_doctors .online_doctor_bg:last-of-type {
        margin: auto; } }
    @media screen and (max-width: 800px) {
      .online_doctors .online_doctor_bg:last-of-type {
        margin: 0; } }
    .online_doctors .online_doctor_bg .doctor_photo {
      max-width: 241px;
      width: 100%;
      height: 249px;
      background: #C4C4C4;
      border: 1px solid #EEEFF1;
      box-shadow: 0 4px 120px rgba(0, 0, 0, 0.05);
      border-radius: 10px;
      margin-bottom: 18px;
      overflow: hidden; }
      .online_doctors .online_doctor_bg .doctor_photo img {
        display: block;
        position: relative;
        top: -10px; }
    .online_doctors .online_doctor_bg h4 {
      font-family: 'Roboto 500', serif;
      font-style: normal;
      font-weight: 500;
      font-size: 18px;
      line-height: 30px;
      text-align: center;
      color: #3D3D3F;
      margin-bottom: 1px; }
    .online_doctors .online_doctor_bg p {
      font-family: 'Roboto 400', serif;
      font-style: normal;
      font-weight: 400;
      font-size: 14px;
      line-height: 22px;
      text-align: center;
      color: #999999; }
    .online_doctors .online_doctor_bg .social_media .fb_bg {
      display: inline-block;
      background: #4D77CF;
      width: 31px;
      height: 31px;
      border-radius: 50%;
      position: relative; }
      .online_doctors .online_doctor_bg .social_media .fb_bg:after {
        content: "";
        background-image: url("../images/facebook_icon.svg");
        display: inline-block;
        width: 7px;
        height: 14px;
        position: absolute;
        top: 8px;
        left: 12px; }
    .online_doctors .online_doctor_bg .social_media .twitter_bg {
      display: inline-block;
      background: #1DA1F2;
      width: 31px;
      height: 31px;
      border-radius: 50%;
      position: relative; }
      .online_doctors .online_doctor_bg .social_media .twitter_bg:after {
        content: "";
        background-image: url("../images/Twitter.svg");
        display: inline-block;
        width: 17px;
        height: 14px;
        position: absolute;
        top: 8px;
        left: 7px; }
    .online_doctors .online_doctor_bg .social_media .in_bg {
      display: inline-block;
      background: #0077B5;
      width: 31px;
      height: 31px;
      border-radius: 50%;
      position: relative; }
      .online_doctors .online_doctor_bg .social_media .in_bg:after {
        content: "";
        background-image: url("../images/linkedin_icon.svg");
        display: inline-block;
        width: 16px;
        height: 15px;
        position: absolute;
        top: 6px;
        left: 8px; }
  .online_doctors .container:last-of-type a {
    padding: 9px 21px;
    display: inline-block;
    background: #40A3F8;
    text-decoration: none;
    border-radius: 5px;
    color: #FFFFFF;
    text-shadow: 0 4px 22px rgba(0, 0, 0, 0.05); }

.mobile_apps {
  padding-top: 120px;
  padding-bottom: 272px;
  background: url("../images/iphone-min.png") 0 0 no-repeat; }
  @media screen and (max-width: 991px) {
    .mobile_apps {
      padding-bottom: 100px; } }
  @media screen and (max-width: 1300px) {
    .mobile_apps {
      background-size: 60%; } }
  @media screen and (max-width: 1000px) {
    .mobile_apps {
      background-size: 50%;
      background-position: 0 100px; } }
  @media screen and (max-width: 850px) {
    .mobile_apps {
      background-image: none; } }
  .mobile_apps .container {
    display: flex;
    justify-content: end; }
    @media screen and (max-width: 850px) {
      .mobile_apps .container {
        justify-content: center; } }
    .mobile_apps .container .mobile_apps_text {
      max-width: 503px; }
      .mobile_apps .container .mobile_apps_text h2 {
        font-family: 'Roboto 500', serif;
        font-style: normal;
        font-weight: 500;
        font-size: 42px;
        line-height: 60px;
        letter-spacing: 0.02em;
        color: #3D3D3F;
        margin-bottom: 30px; }
        @media screen and (max-width: 550px) {
          .mobile_apps .container .mobile_apps_text h2 {
            font-size: 32px;
            line-height: 50px; } }
        @media screen and (max-width: 400px) {
          .mobile_apps .container .mobile_apps_text h2 {
            font-size: 26px;
            line-height: 40px; } }
      .mobile_apps .container .mobile_apps_text p {
        font-family: 'Roboto 400', serif;
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 30px;
        letter-spacing: 0.02em;
        color: rgba(61, 61, 63, 0.7);
        margin-bottom: 30px; }
        @media screen and (max-width: 550px) {
          .mobile_apps .container .mobile_apps_text p {
            font-size: 15px; } }
        @media screen and (max-width: 400px) {
          .mobile_apps .container .mobile_apps_text p {
            font-size: 13px; } }
      .mobile_apps .container .mobile_apps_text a {
        display: inline-block; }
      .mobile_apps .container .mobile_apps_text img {
        display: inline-block; }
      .mobile_apps .container .mobile_apps_text img:first-of-type {
        margin-right: 13px; }

.clients {
  padding-top: 120px;
  padding-bottom: 90px; }
  .clients h2 {
    font-family: 'Roboto 500', serif;
    font-style: normal;
    font-weight: 500;
    font-size: 42px;
    line-height: 49px;
    letter-spacing: 0.02em;
    color: #3D3D3F;
    margin-bottom: 93px;
    text-align: center; }
    @media screen and (max-width: 500px) {
      .clients h2 {
        font-size: 35px; } }
  .clients .owl-carousel_2 .owl-stage {
    padding-top: 20px;
    position: relative; }
  .clients .owl-carousel_2 .owl-item {
    max-width: 370px;
    width: 100%;
    padding: 22px 10px 32px 10px;
    min-height: 370px;
    background: linear-gradient(132.1deg, rgba(255, 255, 255, 0.88) 0.65%, #FAFAFA 103.13%);
    box-shadow: 0 4px 22px rgba(0, 0, 0, 0.05);
    border-radius: 10px;
    position: relative; }
    .clients .owl-carousel_2 .owl-item .round_photo {
      width: 63px;
      height: 63px;
      background: #6E7891;
      border-radius: 50%;
      overflow: hidden;
      margin: auto auto 15px; }
    .clients .owl-carousel_2 .owl-item .name_stars {
      max-width: 280px;
      margin: auto;
      display: flex;
      justify-content: space-between;
      align-items: center; }
      .clients .owl-carousel_2 .owl-item .name_stars img {
        display: inline-block;
        width: 15px;
        height: 15px; }
      .clients .owl-carousel_2 .owl-item .name_stars h4 {
        font-family: 'Roboto 700', serif;
        font-style: normal;
        font-weight: 700;
        font-size: 20px;
        color: #3D3D3F;
        margin-bottom: 0; }
    .clients .owl-carousel_2 .owl-item p:first-of-type {
      max-width: 280px;
      font-family: 'Ubuntu 400', serif;
      font-style: normal;
      font-weight: 400;
      font-size: 14px;
      color: rgba(99, 203, 254, 0.65);
      margin: auto auto 16px; }
    .clients .owl-carousel_2 .owl-item p:last-of-type {
      max-width: 280px;
      margin: auto;
      font-family: 'Roboto 400', serif;
      font-style: normal;
      font-weight: 400;
      font-size: 14px;
      line-height: 25px;
      color: #454D5D; }
    .clients .owl-carousel_2 .owl-item .quote_bg {
      background: rgba(99, 203, 254, 0.65);
      width: 40px;
      height: 40px;
      display: flex;
      border-radius: 50%;
      align-items: center;
      justify-content: center;
      position: absolute;
      top: -20px;
      right: 40px; }
      .clients .owl-carousel_2 .owl-item .quote_bg:after {
        content: "";
        display: inline-block;
        width: 15px;
        height: 12px;
        background-image: url("../images/quote_icon.svg"); }
  .clients .owl-carousel_2 .star_icons span:before {
    content: "";
    display: inline-block;
    width: 75px;
    height: 15px;
    background-image: url("../images/star.svg");
    top: 0; }
  .clients .owl-carousel_2 .owl-nav {
    max-width: 1170px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    position: absolute;
    top: 50%; }
    @media screen and (max-width: 768px) {
      .clients .owl-carousel_2 .owl-nav {
        display: none; } }
    @media screen and (max-width: 1250px) {
      .clients .owl-carousel_2 .owl-nav {
        position: relative;
        justify-content: center;
        margin-top: 50px; } }
    @media screen and (max-width: 678px) {
      .clients .owl-carousel_2 .owl-nav {
        display: none; } }
    .clients .owl-carousel_2 .owl-nav .owl-prev {
      width: 34px;
      height: 34px;
      display: flex;
      justify-content: center;
      align-items: center;
      background: linear-gradient(133.16deg, rgba(154, 208, 255, 0.1065) 0%, rgba(111, 188, 255, 0.1005) 112.21%);
      box-shadow: 0 4px 40px rgba(0, 0, 0, 0.07);
      border-radius: 5px;
      position: relative;
      left: -50px; }
      .clients .owl-carousel_2 .owl-nav .owl-prev:after {
        content: "";
        display: inline-block;
        background-image: url("../images/prev_vector.svg");
        width: 11px;
        height: 18px; }
    .clients .owl-carousel_2 .owl-nav .owl-next {
      width: 34px;
      height: 34px;
      display: flex;
      justify-content: center;
      align-items: center;
      background: #40A3F8;
      box-shadow: 0 4px 22px rgba(0, 0, 0, 0.05);
      border-radius: 5px;
      position: relative;
      right: -50px; }
      .clients .owl-carousel_2 .owl-nav .owl-next:after {
        content: "";
        display: inline-block;
        background-image: url("../images/next_vector.svg");
        width: 11px;
        height: 18px; }

.time {
  padding-top: 105px;
  padding-bottom: 120px; }
  .time .container {
    max-width: 1140px;
    padding-top: 82px;
    padding-bottom: 92px;
    background: #40A3F8 url("../images/time-min.png") 0 -120px no-repeat;
    background-size: 150%;
    border-radius: 12px;
    position: relative; }
    @media screen and (max-width: 768px) {
      .time .container {
        padding-top: 30px;
        padding-bottom: 30px; } }
    .time .container .time_text {
      margin-left: 118px; }
      @media screen and (max-width: 991px) {
        .time .container .time_text {
          margin-left: inherit; } }
      .time .container .time_text p {
        font-family: 'Roboto 700', serif;
        font-style: normal;
        font-weight: 700;
        font-size: 40px;
        line-height: 47px;
        text-transform: capitalize;
        color: #FFFFFF;
        margin-bottom: 30px; }
        @media screen and (max-width: 850px) {
          .time .container .time_text p {
            font-size: 30px; } }
        @media screen and (max-width: 768px) {
          .time .container .time_text p {
            font-size: 20px; } }
      .time .container .time_text a {
        font-family: 'Roboto 500', serif;
        font-style: normal;
        font-weight: 500;
        font-size: 18px;
        line-height: 21px;
        color: #40A3F8;
        padding: 16px 17px;
        background: #FFFFFF;
        box-shadow: 0 4px 22px rgba(0, 0, 0, 0.05);
        border-radius: 5px;
        text-decoration: none; }
        @media screen and (max-width: 768px) {
          .time .container .time_text a {
            font-size: 15px; } }
    .time .container img {
      display: block;
      position: absolute;
      bottom: 0;
      right: -100px; }
      @media screen and (max-width: 800px) {
        .time .container img {
          width: 70%; } }
      @media screen and (max-width: 800px) {
        .time .container img {
          right: -70px; } }
      @media screen and (max-width: 475px) {
        .time .container img {
          right: -50px; } }

footer {
  padding-top: 34px;
  padding-bottom: 68px;
  background: #FFFFFF; }
  footer .container {
    display: flex;
    justify-content: space-between; }
    @media screen and (max-width: 600px) {
      footer .container {
        display: block;
        text-align: center; } }
    footer .container .healthcare {
      max-width: 480px; }
      @media screen and (max-width: 600px) {
        footer .container .healthcare {
          max-width: 100%; } }
      footer .container .healthcare img {
        margin-bottom: 16px; }
      footer .container .healthcare p {
        font-family: 'DM Sans 400', serif;
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 180%;
        color: #646464; }
        footer .container .healthcare p:first-of-type {
          margin-bottom: 16px; }
      footer .container .healthcare .footer_soc_media {
        display: flex;
        max-width: 180px;
        justify-content: space-between; }
        @media screen and (max-width: 600px) {
          footer .container .healthcare .footer_soc_media {
            margin: auto auto 30px; } }
        footer .container .healthcare .footer_soc_media .footer_inst span:before {
          background: url("../images/inst_footer.png") 0 -1px;
          width: 18px;
          height: 17px; }
        footer .container .healthcare .footer_soc_media .footer_twitter span:before {
          background: url("../images/Twitter.svg")1px -1px;
          width: 19px;
          height: 13px; }
        footer .container .healthcare .footer_soc_media .footer_youtube span:before {
          background: url("../images/youtube_footer.svg") 0 -1px;
          width: 18px;
          height: 13px; }
        footer .container .healthcare .footer_soc_media a span {
          background: #646464;
          width: 32px;
          height: 32px;
          border-radius: 50%;
          display: flex;
          justify-content: center;
          align-items: center; }
          footer .container .healthcare .footer_soc_media a span:before {
            content: "";
            background-image: url("../images/facebook_icon.svg");
            display: inline-block;
            width: 8px;
            height: 14px; }
    footer .container .footer_category {
      max-width: 110px; }
      @media screen and (max-width: 720px) {
        footer .container .footer_category {
          display: none; } }
      footer .container .footer_category ul {
        list-style: none;
        margin-bottom: 0; }
        footer .container .footer_category ul li {
          margin-bottom: 24px; }
          footer .container .footer_category ul li :last-of-type {
            margin-bottom: 0; }
          footer .container .footer_category ul li a {
            text-decoration: none;
            font-family: 'Roboto 400', serif;
            font-style: normal;
            font-weight: 400;
            font-size: 14px;
            line-height: 14px;
            color: #646464; }
        footer .container .footer_category ul li:first-of-type a {
          font-family: 'Roboto 700', serif;
          font-style: normal;
          font-weight: 700;
          font-size: 16px;
          line-height: 16px;
          color: #323232; }
    footer .container .about_category {
      max-width: 110px; }
      @media screen and (max-width: 850px) {
        footer .container .about_category {
          display: none; } }
      footer .container .about_category ul {
        list-style: none; }
        footer .container .about_category ul li {
          margin-bottom: 24px; }
          footer .container .about_category ul li:last-of-type {
            margin-bottom: 0; }
          footer .container .about_category ul li:first-of-type a {
            font-family: 'Roboto 700', serif;
            font-style: normal;
            font-weight: 700;
            font-size: 16px;
            line-height: 16px;
            color: #323232; }
          footer .container .about_category ul li a {
            text-decoration: none;
            font-family: 'Roboto 400', serif;
            font-style: normal;
            font-weight: 400;
            font-size: 14px;
            line-height: 14px;
            color: #646464; }
    footer .container .subscribe {
      max-width: 290px; }
      @media screen and (max-width: 600px) {
        footer .container .subscribe {
          max-width: 100%; } }
      footer .container .subscribe h4 {
        font-family: 'DM Sans 700', serif;
        font-style: normal;
        font-weight: 700;
        font-size: 16px;
        line-height: inherit;
        color: #323232;
        margin-bottom: 19px; }
      footer .container .subscribe p {
        font-family: 'DM Sans 400', serif;
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 180%;
        color: #646464;
        margin-bottom: 14px; }
      footer .container .subscribe input {
        font-family: 'Roboto 400', serif;
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 16px;
        color: rgba(117, 117, 117, 0.65);
        display: inline-block;
        width: 100%;
        padding: 12px 20px 12px 20px;
        border: 1.1px solid #E1E2E4;
        border-radius: 5px;
        margin-bottom: 24px; }
      footer .container .subscribe button {
        width: 100%;
        background: #40A3F8;
        border: 1.1px solid #E1E2E4;
        border-radius: 5px;
        padding: 12px 12px;
        font-family: 'Roboto 500', serif;
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 16px;
        letter-spacing: 0.02em;
        color: #FFFFFF; }

.footer_text {
  height: 50px; }
  .footer_text .container {
    display: flex;
    justify-content: space-between; }
    @media screen and (max-width: 600px) {
      .footer_text .container {
        flex-direction: column;
        text-align: center; } }
    .footer_text .container p {
      margin-top: 5px;
      font-family: 'DM Sans 400', serif;
      font-style: normal;
      font-weight: 400;
      font-size: 14px;
      line-height: 14px;
      color: #646464; }
  .footer_text .privacy {
    max-width: 300px;
    display: flex;
    justify-content: space-between; }
    @media screen and (max-width: 600px) {
      .footer_text .privacy {
        max-width: 100%;
        justify-content: center; } }
    .footer_text .privacy ul {
      display: flex;
      list-style: none; }
      .footer_text .privacy ul li {
        margin-left: 50px; }
      .footer_text .privacy ul li:first-of-type {
        margin-left: 0; }
    .footer_text .privacy a {
      font-family: 'DM Sans 400', serif;
      font-style: normal;
      font-weight: 400;
      font-size: 14px;
      line-height: 14px;
      color: #646464;
      text-decoration: none; }

/*# sourceMappingURL=style.css.map */
