@font-face {
  font-family: 'Poppins 500';
  src: url('../fonts/Poppins-Medium.eot');
  src: url('../fonts/Poppins-Medium.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Poppins-Medium.woff2') format('woff2'),
  url('../fonts/Poppins-Medium.woff') format('woff'),
  url('../fonts/Poppins-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto 700';
  src: url('../fonts/Roboto-Bold.eot');
  src: url('../fonts/Roboto-Bold.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Roboto-Bold.woff2') format('woff2'),
  url('../fonts/Roboto-Bold.woff') format('woff'),
  url('../fonts/Roboto-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Poppins 600';
  src: url('../fonts/Poppins-SemiBold.eot');
  src: url('../fonts/Poppins-SemiBold.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Poppins-SemiBold.woff2') format('woff2'),
  url('../fonts/Poppins-SemiBold.woff') format('woff'),
  url('../fonts/Poppins-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'DM Sans 400';
  src: url('../fonts/DMSans-Regular.eot');
  src: url('../fonts/DMSans-Regular.eot?#iefix') format('embedded-opentype'),
  url('../fonts/DMSans-Regular.woff2') format('woff2'),
  url('../fonts/DMSans-Regular.woff') format('woff'),
  url('../fonts/DMSans-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Ubuntu 400';
  src: url('../fonts/Ubuntu-Regular.eot');
  src: url('../fonts/Ubuntu-Regular.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Ubuntu-Regular.woff2') format('woff2'),
  url('../fonts/Ubuntu-Regular.woff') format('woff'),
  url('../fonts/Ubuntu-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto 500';
  src: url('../fonts/Roboto-Medium.eot');
  src: url('../fonts/Roboto-Medium.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Roboto-Medium.woff2') format('woff2'),
  url('../fonts/Roboto-Medium.woff') format('woff'),
  url('../fonts/Roboto-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto 400';
  src: url('../fonts/Roboto-Regular.eot');
  src: url('../fonts/Roboto-Regular.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Roboto-Regular.woff2') format('woff2'),
  url('../fonts/Roboto-Regular.woff') format('woff'),
  url('../fonts/Roboto-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Poppins 400';
  src: url('../fonts/Poppins-Regular.eot');
  src: url('../fonts/Poppins-Regular.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Poppins-Regular.woff2') format('woff2'),
  url('../fonts/Poppins-Regular.woff') format('woff'),
  url('../fonts/Poppins-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'SF Pro Display';
  src: url('../fonts/SFProDisplay-Regular.eot');
  src: url('../fonts/SFProDisplay-Regular.eot?#iefix') format('embedded-opentype'),
  url('../fonts/SFProDisplay-Regular.woff2') format('woff2'),
  url('../fonts/SFProDisplay-Regular.woff') format('woff'),
  url('../fonts/SFProDisplay-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@import "owl.carousel.css";
@import "owl.theme.default.css";
@import "bootstrap.css";
@import "menu.css";
@mixin max-screen($res) {
  @media screen and (max-width: $res) {
    @content;
  }
}


* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-image: url("../images/bg_body.jpg");
  background-size: cover;
}

.container {
  max-width: 1170px;
  margin: 0 auto;
}

.nav-active .nav-but-wrap {
  position: fixed;
  right: 15px;
}

.cd-header {
  height: 0;

  .nav-but-wrap {
    position: fixed;
    right: 15px;
    @include max-screen(768px) {
      display: inline-block;
    }
  }

  .nav__list {
    margin-bottom: 0;
  }

  .row {
    margin-right: inherit;
    margin-left: inherit;
  }

  @include max-screen(950px) {
    .nav__list-item {
      margin-left: 30px;
    }
  }
  @include max-screen(768px) {
    .nav__content {
      visibility: inherit;
    }
    .nav {
      position: fixed;
    }
    .nav__content {
      position: fixed;
      visibility: hidden;
      transform: none;
    }
    .nav__list-item {
      opacity: 0;
      margin-left: 0;
      overflow: inherit;

      &:nth-child(1) {
        margin-top: 20px;
        margin-left: 20px;
        display: flex;
        justify-content: left;
      }

      &:nth-child(2) {
        margin-top: 60px;

        a {
          font-size: 40px;
        }
      }

      &:nth-child(3) {
        margin-top: 60px;

        a {
          font-size: 40px;
        }
      }

      &:nth-child(4) {
        margin-top: 60px;

        a {
          font-size: 40px;
        }
      }

      &:nth-child(5) {
        margin-top: 60px;

        a {
          font-size: 40px;

        }
      }

      &:nth-child(6) {
        margin-top: 60px;

        a {
          font-size: 40px;
          padding: 30px 50px;
        }
      }
    }
    .nav__list {
      display: block;
    }
    .header-wrapper {
      width: 100%;
    }
    .mob_logo {
      display: block;

      a {
        opacity: 1;
      }
    }
  }
  @include max-screen(768px) {
    .nav__list-item:nth-child(3) {
      margin-top: 15px;
    }
    .nav__list-item:nth-child(4) {
      margin-top: 15px;
    }
    .nav__list-item:nth-child(5) {
      margin-top: 15px;
    }
    .nav__list-item:nth-child(6) {
      margin-top: 30px;
    }
    .nav__list-item:nth-child(2) a {
      font-size: 20px;
    }
    .nav__list-item:nth-child(3) a {
      font-size: 20px;
      color: #40A3F8;
      opacity: 1;

    }
    .nav__list-item:nth-child(3) a:hover {
      color: #0056b3;
    }
    .nav__list-item:nth-child(4) a:hover {
      color: #0056b3;
    }
    .nav__list-item:nth-child(5) a:hover {
      color: #0056b3;
    }
    .nav__list-item:nth-child(4) a {
      font-size: 20px;
      color: #40A3F8;
      opacity: 1;
    }
    .nav__list-item:nth-child(5) a {
      font-size: 20px;
      color: #40A3F8;
      opacity: 1;
    }
    .nav__list-item:nth-child(6) a {
      font-size: 20px;
      padding: 10px 15px;
    }
  }
}

.main_section {
  height: 100vh;

  .content {
    background-size: cover;
    display: flex;
    align-items: center;
    height: 100%;
    width: 100%;
    position: relative;

    h1 {
      font-family: 'Roboto 700', serif;
      font-style: normal;
      font-weight: 700;
      font-size: 48px;
      line-height: 70px;
      color: #3E3E3E;
      margin-bottom: 31px;
      @include max-screen(991px) {
        font-size: 40px;
        line-height: 40px;
      }
      @include max-screen(840px) {
        font-size: 33px;
      }

      span {
        color: #40A3F8;
        @include max-screen(991px) {
          font-size: 40px;
          line-height: 40px;
        }
        @include max-screen(840px) {
          font-size: 33px;
        }
      }
    }

    p {
      font-family: 'Roboto 400', serif;
      font-style: normal;
      font-weight: 400;
      font-size: 14px;
      line-height: 30px;
      color: rgba(117, 117, 117, 0.46);
      margin-bottom: 50px;
    }


    .search_block {
      display: flex;
      max-width: 630px;
      background: #FFFFFF;
      box-shadow: 0 4px 22px rgba(228, 245, 252, 0.3);
      border-radius: 8px;
      padding: 13px;
      justify-content: space-between;

      @include max-screen(950px) {
        display: block;
      }
      @include max-screen(768px) {
        margin: auto;
      }
      @include max-screen(991px) {
        justify-content: space-between;
        margin: auto;
      }

      .form_item1 {
        max-width: 216px;
        width: 100%;
        padding: 17px 30px;
        background: rgba(245, 246, 250, 0.52);
        border-radius: 8px;
        align-items: center;

        @include max-screen(1150px) {
          max-width: 170px;
          padding: 15px 10px;
        }
        @include max-screen(950px) {
          max-width: inherit;
          width: 100%;
          padding: 15px 10px;
          margin-bottom: 10px;
        }

        input {
          display: inline-block;
          font-family: 'Poppins 400', serif;
          font-style: normal;
          font-weight: 400;
          font-size: 14px;
          line-height: 24px;
          color: rgba(0, 0, 0, 0.3);
          border: none;
          background: transparent;
          outline: none;
          @include max-screen(1150px) {
            font-size: 10px;
          }
          @include max-screen(950px) {
            font-size: 14px;
          }
        }
      }

      .form_item2 {
        max-width: 203px;
        width: 100%;
        padding-top: 17px;
        padding-bottom: 17px;
        padding-left: 50px;
        background: rgba(245, 246, 250, 0.52);
        border-radius: 8px;
        align-items: center;
        display: flex;
        position: relative;
        @include max-screen(1150px) {
          max-width: 170px;
          padding: 15px 10px;
          margin-right: 70px;
        }
        @include max-screen(1080px) {
          margin-right: 40px;
        }
        @include max-screen(1000px) {
          margin-right: 20px;
        }
        @include max-screen(950px) {
          max-width: inherit;
          width: 100%;
          margin-bottom: 10px;
        }

        label {
          display: none;
        }


        &:after {
          content: "";
          position: absolute;
          top: 25px;
          right: 20px;
          display: block;
          width: 14px;
          height: 8px;
          background-image: url("../images/arrow_left.svg");
          pointer-events: none;
        }

        &:before {
          content: "";
          position: absolute;
          top: 20px;
          left: 28px;
          display: block;
          width: 15px;
          height: 17px;
          background-image: url("../images/Location.svg");
          @include max-screen(1150px) {
            background-image: none;
          }
        }

        select {
          display: block;
          width: 100%;
          background: transparent;
          border: none;
          outline: none;
          appearance: none;
          -webkit-appearance: none;
          cursor: pointer;
          @include max-screen(950px) {
            text-align: center;

          }

          font-family: 'Poppins 400', serif;
          font-style: normal;
          font-weight: 400;
          font-size: 14px;
          line-height: 24px;
          color: #3D3D3F;
          @include max-screen(1150px) {
            font-size: 10px;
          }
          @include max-screen(950px) {
            font-size: 14px;
          }
        }
      }

      .form_button {
        width: 70px;
        height: 59px;
        background: #40A3F8;
        border-radius: 8px;
        cursor: pointer;
        z-index: 2;

        button {
          background: transparent;
          width: 100%;
          height: 100%;
          border: none;
          cursor: pointer;

        }
      }
    }

    .doctor_bg {
      position: relative;

      .doctor_bg_circle {
        position: absolute;
        top: -65px;
        right: -90px;

      }

      .female_doctor {
        position: absolute;
        top: -40px;
        right: -160px;
      }

      .round_bg {
        background: radial-gradient(103.57% 103.57% at 50% 0%, #FDFEFE 0%, #FDFEFE 100%);
        box-shadow: 0 4px 22px rgba(0, 0, 0, 0.05);
        width: 70px;
        height: 70px;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
      }

      .tel_round {
        position: relative;
        top: -30px;
        left: 120px;
        @include max-screen(1118px) {
          top: -30px;
          left: 70px;
        }
      }

      .chat_round {
        position: absolute;
        top: 190px;
        left: 20px;
        @include max-screen(1118px) {
          left: -10px;
        }
        @include max-screen(1050px) {
          left: -30px;
        }
      }

      .video_round {
        position: absolute;
        top: 0;
        right: -40px;
        @include max-screen(1230px) {
          display: none;
        }
      }

      .square_bg1 {
        display: flex;
        position: absolute;
        align-items: center;
        top: 450px;
        left: 30px;
        background: radial-gradient(103.57% 103.57% at 50% 0%, #FDFEFE 0%, #FDFEFE 100%);
        box-shadow: 0 4px 22px rgba(0, 0, 0, 0.05);
        padding: 12px 12px 12px 12px;
        border-radius: 10px;

        .round_doctor {
          display: block;
          width: 42px;
          height: 42px;
        }

        .stars {
          margin-left: 12px;
        }

        .lines {
          img {
            display: block;

            &:first-of-type {
              margin-bottom: 6px;
            }

            &:last-of-type {
              margin-top: 6px;
            }
          }
        }
      }

      .square_bg2 {
        max-width: 162px;
        width: 100%;
        background: radial-gradient(103.57% 103.57% at 50% 0%, #FDFEFE 0%, #FDFEFE 100%);
        box-shadow: 0 4px 22px rgba(0, 0, 0, 0.05);
        padding: 6px 26px 10px 26px;
        border-radius: 10px;
        position: relative;
        text-align: center;
        top: 300px;
        left: 500px;
        @include max-screen(1360px) {
          display: none;
        }

        .img {
          display: inline-block;
        }

        p {
          font-family: 'Poppins 600', serif;
          font-style: normal;
          font-weight: 600;
          font-size: 24px;
          line-height: 36px;
          letter-spacing: 0.02em;
          color: #3D3D3F;
          margin-bottom: 0;
        }

        span {
          font-family: 'Poppins 400', serif;
          font-style: normal;
          font-weight: 400;
          font-size: 14px;
          line-height: 21px;
          letter-spacing: 0.02em;
          color: rgba(61, 61, 63, 0.56);
        }

      }
    }
  }
}

.easy_steps {
  padding-top: 75px;
  padding-bottom: 79px;

  .container {
    h2 {
      font-family: 'Roboto 500', serif;
      font-style: normal;
      font-weight: 500;
      font-size: 42px;
      line-height: 70px;
      color: #3E3E3E;
      margin-bottom: 51px;
    }

    .bg_round1 {
      width: 80px;
      height: 80px;
      box-shadow: 0 4px 22px rgba(0, 0, 0, 0.05);
      border-radius: 50%;
      background: rgba(56, 175, 255, 0.1) url("../images/search_step.svg") 16px 19px no-repeat;
    }

    .bg_round2 {
      width: 80px;
      height: 80px;
      box-shadow: 0 4px 22px rgba(0, 0, 0, 0.05);
      border-radius: 50%;
      background: rgba(255, 170, 6, 0.12) url("../images/calendar.svg") 17px 17px no-repeat;
    }

    .bg_round3 {
      width: 80px;
      height: 80px;
      box-shadow: 0 4px 22px rgba(0, 0, 0, 0.05);
      border-radius: 50%;
      background: rgba(99, 203, 254, 0.65) url("../images/healthcare-min.png") 17px 17px no-repeat;
      opacity: 0.8;
    }

    .calendar {
      padding: 200px 14.11px 15px 17.13px;
    }

    img:last-of-type {
      padding: 17px 10.08px 13px 16.12px;
    }

    h4 {
      font-family: 'Roboto 500', serif;
      font-style: normal;
      font-weight: 500;
      font-size: 20px;
      line-height: 32px;
      color: #3D3D3F;
      margin-bottom: 18px;
    }

    p {
      max-width: 295px;
      font-family: 'Roboto', serif;
      font-style: normal;
      font-weight: 400;
      font-size: 12px;
      line-height: 20px;
      text-align: center;
      color: rgba(0, 0, 0, 0.5);
    }
  }
}

.best_quality {
  padding-bottom: 50px;

  .quality_left {
    max-width: 545px;
    border-radius: 5px 5px 272.5px 272.5px;
    height: 582px;
    position: relative;
    overflow: hidden;
    @include max-screen(768px) {
      margin: auto;
    }
    @include max-screen(500px) {
      display: none;
    }


    .doctor_top {
      height: 50%;

      img {
        display: block;
        position: absolute;
        top: 110px;
        left: 68px;
      }
    }

    .doctor_bottom {
      height: 50%;
      background: #40A3F8 url("../images/shape.png");
      border-radius: 0 5px 0 0;

      img {
        position: absolute;
        display: block;
        bottom: 0;
      }
    }
  }

  .quality_right {
    max-width: 506px;
    @include max-screen(768px) {
      margin: auto;
    }

    h2 {
      margin: 120px 0 24px 5px;

      font-family: 'Roboto 500', serif;
      font-style: normal;
      font-weight: 500;
      font-size: 42px;
      line-height: 49px;
      letter-spacing: 0.02em;
      color: #3D3D3F;
      @include max-screen(991px) {
        font-size: 30px;
      }
      @include max-screen(768px) {
        font-size: 35px;
      }
    }

    p {
      margin-bottom: 3px;
      font-family: 'Roboto 400', serif;
      font-style: normal;
      font-weight: 400;
      font-size: 18px;
      line-height: 30px;
      letter-spacing: 0.02em;
      color: rgba(61, 61, 63, 0.7);
      @include max-screen(991px) {
        font-size: 15px;
      }
      @include max-screen(768px) {
        font-size: 18px;
      }
    }

    ul {
      list-style: none;

      li {
        font-family: 'Roboto 400', serif;
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 30px;
        letter-spacing: 0.02em;
        color: #3D3D3F;
        margin-bottom: 14px;
        margin-left: 0;
        @include max-screen(991px) {
          font-size: 12px;
        }
        @include max-screen(768px) {
          font-size: 16px;
        }


        &:before {
          content: "";
          background-image: url("../images/check.svg");
          display: inline-block;
          width: 18px;
          height: 18px;
          position: relative;
          top: 4px;
          margin-right: 18px;
        }

        &:last-of-type {
          margin-bottom: 24px;
        }
      }
    }

    a {
      text-decoration: none;
      background: #40A3F8;
      border-radius: 5px;
      padding: 10px 20px;

      font-family: 'Roboto 400', serif;
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 30px;
      letter-spacing: 0.02em;
      color: #FFFFFF;

      &:after {
        content: "";
        display: inline-block;
        background-image: url("../images/vector_a.svg");
        width: 14px;
        height: 11px;
        margin-left: 10px;
      }
    }
  }

  .square_khalid {
    width: 270px;
    background: #FFFFFF;
    box-shadow: 0 4px 22px rgba(0, 0, 0, 0.05);
    border-radius: 6px;
    padding: 34px 26px 20px 26px;
    text-align: center;
    position: relative;
    @include max-screen(500px) {
      display: none;
    }

    .heart_img {
      position: absolute;
      top: -43px;
      left: 90px;
    }

    .khalid_row1 {
      img:first-of-type {
        display: block;
        position: absolute;
        top: 22px;
        left: -10px;
      }

      .khalid_text {
        h4 {
          font-family: 'Poppins 500', serif;
          font-style: normal;
          font-weight: 500;
          font-size: 20px;
          line-height: 32px;
          color: #3D3D3F;
        }

        p {
          font-family: 'Poppins 400', serif;
          font-style: normal;
          font-weight: 400;
          font-size: 12px;
          line-height: 18px;
          color: rgba(61, 61, 63, 0.4);
          margin-bottom: 0;

          span {
            font-family: 'Poppins', serif;
            font-style: normal;
            font-weight: 400;
            font-size: 12px;
            line-height: 18px;
            color: #3D3D3F;
            margin-left: 23px;

            &:before {
              content: "";
              display: inline-block;
              background-image: url("../images/star.svg");
              width: 14px;
              height: 14px;
              position: absolute;
              right: 45px;

            }
          }
        }
      }
    }

    .khalid_row2 {
      max-width: 206px;

      .khalid_text_center {
        text-align: center;

        p {
          font-family: 'SF Pro Display 400', serif;
          font-style: normal;
          font-weight: 400;
          font-size: 12px;
          line-height: 32px;
          display: flex;
          letter-spacing: 0.02em;
          color: #A0A2B3;
          margin-bottom: 0;
        }

        span {
          text-align: center;
          font-family: 'Poppins 500', serif;
          font-style: normal;
          font-weight: 500;
          font-size: 12px;
          line-height: 32px;
          align-items: center;
          color: #636481;
          display: inline-block;
          position: relative;
          top: -10px;
        }
      }
    }

    .location {
      font-family: 'Poppins 400', serif;
      font-style: normal;
      font-weight: 400;
      font-size: 12px;
      line-height: 18px;
      letter-spacing: 0.02em;
      color: #3D3D3F;
      margin-bottom: 0;

      &:before {
        display: inline-block;
        content: "";
        background: url("../images/Location.svg") 0 0 no-repeat;
        width: 15px;
        height: 18px;
        position: relative;
        left: -8px;
        top: 4px;
      }
    }
  }

  .khalid_position {
    top: 250px;
    left: -70px;
    @include max-screen(1300px) {
      left: 50px;
    }
  }

  .square_bg3 {
    display: flex;
    align-items: center;
    max-width: 230px;
    width: 100%;
    background: #FFFFFF;
    box-shadow: 0 4px 22px rgba(0, 0, 0, 0.05);
    border-radius: 6px;
    position: absolute;
    left: 350px;
    top: 140px;
    padding: 13.5px 16px 13.5px 16px;
    @include max-screen(1100px) {
      display: none;
    }

    img:first-of-type {
      margin-right: 14px;
    }

    .lines {
      img:first-of-type {
        margin-bottom: 9px;
      }

      img:last-of-type {
        margin-top: 9px;
      }
    }
  }
}

.our_service {
  padding-top: 50px;
  padding-bottom: 60px;

  h2 {
    font-family: 'Roboto 500', serif;
    font-style: normal;
    font-weight: 500;
    font-size: 42px;
    line-height: 49px;
    letter-spacing: 0.02em;
    color: #3D3D3F;
    margin-bottom: 24px;
  }

  p {
    font-family: 'Roboto 400', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    text-align: center;
    letter-spacing: 0.02em;
    color: rgba(61, 61, 63, 0.7);
    margin-bottom: 75px;
  }

  .owl-carousel_1 {
    .owl-item {
      max-width: 349px;
      width: 100%;
      background-color: #FFFFFF;
      border-radius: 10px;
      min-height: 316px;
      box-shadow: 0 4px 120px rgba(0, 0, 0, 0.05);
      padding: 162px 20px 31px 20px;
      position: relative;

      h4 {
        font-family: 'Roboto 500', serif;
        font-style: normal;
        font-weight: 500;
        font-size: 18px;
        line-height: 30px;
        text-align: center;
        color: #3D3D3F;
      }

      p {
        width: 230px;
        font-family: 'Roboto 400', serif;
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 22px;
        color: #999999;
        margin: auto auto 0;
      }

      img {
        display: inline-block;
      }

      .item_1 > img {
        width: 83px;
        position: absolute;
        left: 121px;
        top: 61px;
      }

      .item_2 > img {
        width: 76px;
        position: absolute;
        left: 136px;
        top: 66px;
      }

      .item_3 > img {
        width: 66px;
        position: absolute;
        left: 135px;
        top: 64px;
      }
    }

    .owl-stage {
      margin-bottom: 94px;
    }

    .owl-dots {
      display: flex;
      justify-content: center;

      .owl-dot {
        &:hover span {
          background: #40A3F8;
        }
      }

      span {
        width: 18px;
        height: 18px;
        background: #DBE8EE;
      }

      .active span {
        width: 60px;
        height: 15px;
        background: #40A3F8;
        border-radius: 6px;
        position: relative;
        transition: 1.5s;
      }
    }

  }
}

.online_doctors {
  padding-top: 60px;
  padding-bottom: 115px;
  @include max-screen(768px) {
    padding-bottom: 0;
  }

  .doctors_block {
    margin-bottom: 58px;
  }

  .container:first-of-type {
    text-align: center;


    h2 {
      font-family: 'Roboto 500', serif;
      font-style: normal;
      font-weight: 500;
      font-size: 42px;
      line-height: 49px;
      letter-spacing: 0.02em;
      color: #3D3D3F;
      text-align: center;
      margin-bottom: 16px;
    }

    p {
      font-family: 'Roboto 400', serif;
      font-style: normal;
      font-weight: 400;
      font-size: 18px;
      line-height: 30px;
      text-align: center;
      letter-spacing: 0.02em;
      color: rgba(61, 61, 63, 0.7);
      margin-bottom: 69px;
    }

    img {
      display: inline-block;
      margin-bottom: 16px;
    }
  }

  .online_doctor_bg {
    max-width: 267px;
    padding: 10px 13px 27px 13px;
    background: linear-gradient(138.88deg, rgba(254, 254, 254, 0) -2.44%, #F9F9F9 -2.43%, rgba(254, 254, 254, 0.51) 98.26%);
    filter: drop-shadow(0px 4px 120px rgba(0, 0, 0, 0.05));
    border-radius: 10px;

    &:last-of-type {
      @include max-screen(1070px) {
        margin: auto;
      }
      @include max-screen(800px) {
        margin: 0;
      }
    }

    .doctor_photo {
      max-width: 241px;
      width: 100%;
      height: 249px;
      background: #C4C4C4;
      border: 1px solid #EEEFF1;
      box-shadow: 0 4px 120px rgba(0, 0, 0, 0.05);
      border-radius: 10px;
      margin-bottom: 18px;
      overflow: hidden;

      img {
        display: block;
        position: relative;
        top: -10px;
      }
    }

    h4 {
      font-family: 'Roboto 500', serif;
      font-style: normal;
      font-weight: 500;
      font-size: 18px;
      line-height: 30px;
      text-align: center;
      color: #3D3D3F;
      margin-bottom: 1px;
    }

    p {
      font-family: 'Roboto 400', serif;
      font-style: normal;
      font-weight: 400;
      font-size: 14px;
      line-height: 22px;
      text-align: center;
      color: #999999;
    }

    .social_media {
      .fb_bg {
        display: inline-block;
        background: #4D77CF;
        width: 31px;
        height: 31px;
        border-radius: 50%;
        position: relative;

        &:after {
          content: "";
          background-image: url("../images/facebook_icon.svg");
          display: inline-block;
          width: 7px;
          height: 14px;
          position: absolute;
          top: 8px;
          left: 12px;
        }
      }

      .twitter_bg {
        display: inline-block;
        background: #1DA1F2;
        width: 31px;
        height: 31px;
        border-radius: 50%;
        position: relative;

        &:after {
          content: "";
          background-image: url("../images/Twitter.svg");
          display: inline-block;
          width: 17px;
          height: 14px;
          position: absolute;
          top: 8px;
          left: 7px;
        }
      }

      .in_bg {
        display: inline-block;
        background: #0077B5;
        width: 31px;
        height: 31px;
        border-radius: 50%;
        position: relative;

        &:after {
          content: "";
          background-image: url("../images/linkedin_icon.svg");
          display: inline-block;
          width: 16px;
          height: 15px;
          position: absolute;
          top: 6px;
          left: 8px;
        }
      }
    }
  }

  .container:last-of-type {
    a {
      padding: 9px 21px;
      display: inline-block;
      background: #40A3F8;
      text-decoration: none;
      border-radius: 5px;
      color: #FFFFFF;
      text-shadow: 0 4px 22px rgba(0, 0, 0, 0.05);
    }
  }
}

.mobile_apps {
  padding-top: 120px;
  padding-bottom: 272px;
  background: url("../images/iphone-min.png") 0 0 no-repeat;
  @include max-screen(991px) {
    padding-bottom: 100px;
  }
  @include max-screen(1300px) {
    background-size: 60%;
  }
  @include max-screen(1000px) {
    background-size: 50%;
    background-position: 0 100px;
  }
  @include max-screen(850px) {
    background-image: none;
  }

  .container {
    display: flex;
    justify-content: end;
    @include max-screen(850px) {
      justify-content: center;
    }

    .mobile_apps_text {
      max-width: 503px;

      h2 {
        font-family: 'Roboto 500', serif;
        font-style: normal;
        font-weight: 500;
        font-size: 42px;
        line-height: 60px;
        letter-spacing: 0.02em;
        color: #3D3D3F;
        margin-bottom: 30px;
        @include max-screen(550px) {
          font-size: 32px;
          line-height: 50px;
        }
        @include max-screen(400px) {
          font-size: 26px;
          line-height: 40px;
        }
      }

      p {
        font-family: 'Roboto 400', serif;
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 30px;
        letter-spacing: 0.02em;
        color: rgba(61, 61, 63, 0.7);
        margin-bottom: 30px;
        @include max-screen(550px) {
          font-size: 15px;
        }
        @include max-screen(400px) {
          font-size: 13px;
        }
      }

      a {
        display: inline-block;
      }

      img {
        display: inline-block;
      }

      img:first-of-type {
        margin-right: 13px;
      }
    }
  }
}

.clients {
  padding-top: 120px;
  padding-bottom: 90px;

  h2 {
    font-family: 'Roboto 500', serif;
    font-style: normal;
    font-weight: 500;
    font-size: 42px;
    line-height: 49px;
    letter-spacing: 0.02em;
    color: #3D3D3F;
    margin-bottom: 93px;
    text-align: center;
    @include max-screen(500px) {
      font-size: 35px;
    }
  }

  .owl-carousel_2 {

    .owl-stage {
      padding-top: 20px;
      position: relative;
    }

    .owl-item {
      max-width: 370px;
      width: 100%;
      padding: 22px 10px 32px 10px;
      min-height: 370px;
      background: linear-gradient(132.1deg, rgba(255, 255, 255, 0.88) 0.65%, #FAFAFA 103.13%);
      box-shadow: 0 4px 22px rgba(0, 0, 0, 0.05);
      border-radius: 10px;
      position: relative;

      .round_photo {
        width: 63px;
        height: 63px;
        background: #6E7891;
        border-radius: 50%;
        overflow: hidden;
        margin: auto auto 15px;
      }

      .name_stars {
        max-width: 280px;
        margin: auto;
        display: flex;
        justify-content: space-between;
        align-items: center;

        img {
          display: inline-block;
          width: 15px;
          height: 15px;
        }

        h4 {
          font-family: 'Roboto 700', serif;
          font-style: normal;
          font-weight: 700;
          font-size: 20px;
          color: #3D3D3F;
          margin-bottom: 0;
        }
      }

      p:first-of-type {

        max-width: 280px;
        font-family: 'Ubuntu 400', serif;
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        color: rgba(99, 203, 254, 0.65);
        margin: auto auto 16px;
      }

      p:last-of-type {
        max-width: 280px;
        margin: auto;
        font-family: 'Roboto 400', serif;
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 25px;
        color: #454D5D;
      }

      .quote_bg {
        background: rgba(99, 203, 254, 0.65);
        width: 40px;
        height: 40px;
        display: flex;
        border-radius: 50%;
        align-items: center;
        justify-content: center;
        position: absolute;
        top: -20px;
        right: 40px;

        &:after {
          content: "";
          display: inline-block;
          width: 15px;
          height: 12px;
          background-image: url("../images/quote_icon.svg");
        }
      }

    }

    .star_icons {
      span:before {
        content: "";
        display: inline-block;
        width: 75px;
        height: 15px;
        background-image: url("../images/star.svg");
        top: 0;
      }
    }

    .owl-nav {
      max-width: 1170px;
      width: 100%;
      display: flex;
      justify-content: space-between;
      position: absolute;
      top: 50%;
      @include max-screen(768px) {
        display: none;
      }
      @include max-screen(1250px) {
        position: relative;
        justify-content: center;
        margin-top: 50px;
      }
      @include max-screen(678px) {
        display: none;
      }

      .owl-prev {
        width: 34px;
        height: 34px;
        display: flex;
        justify-content: center;
        align-items: center;
        background: linear-gradient(133.16deg, rgba(154, 208, 255, 0.1065) 0%, rgba(111, 188, 255, 0.1005) 112.21%);
        box-shadow: 0 4px 40px rgba(0, 0, 0, 0.07);
        border-radius: 5px;
        position: relative;
        left: -50px;

        &:after {
          content: "";
          display: inline-block;
          background-image: url("../images/prev_vector.svg");
          width: 11px;
          height: 18px;
        }
      }

      .owl-next {
        width: 34px;
        height: 34px;
        display: flex;
        justify-content: center;
        align-items: center;
        background: #40A3F8;
        box-shadow: 0 4px 22px rgba(0, 0, 0, 0.05);
        border-radius: 5px;
        position: relative;
        right: -50px;

        &:after {
          content: "";
          display: inline-block;
          background-image: url("../images/next_vector.svg");
          width: 11px;
          height: 18px;
        }

      }
    }
  }
}

.time {
  padding-top: 105px;
  padding-bottom: 120px;

  .container {
    max-width: 1140px;
    padding-top: 82px;
    padding-bottom: 92px;
    background: #40A3F8 url("../images/time-min.png") 0 -120px no-repeat;
    background-size: 150%;
    border-radius: 12px;
    position: relative;
    @include max-screen(768px) {
      padding-top: 30px;
      padding-bottom: 30px;
    }

    .time_text {
      margin-left: 118px;
      @include max-screen(991px) {
        margin-left: inherit;
      }

      p {
        font-family: 'Roboto 700', serif;
        font-style: normal;
        font-weight: 700;
        font-size: 40px;
        line-height: 47px;
        text-transform: capitalize;
        color: #FFFFFF;
        margin-bottom: 30px;
        @include max-screen(850px) {
          font-size: 30px;
        }
        @include max-screen(768px) {
          font-size: 20px;
        }
      }

      a {
        font-family: 'Roboto 500', serif;
        font-style: normal;
        font-weight: 500;
        font-size: 18px;
        line-height: 21px;
        color: #40A3F8;
        padding: 16px 17px;
        background: #FFFFFF;
        box-shadow: 0 4px 22px rgba(0, 0, 0, 0.05);
        border-radius: 5px;
        text-decoration: none;
        @include max-screen(768px) {
          font-size: 15px;
        }
      }
    }

    img {
      display: block;
      position: absolute;
      bottom: 0;
      right: -100px;
      @include max-screen(800px) {
        width: 70%;
      }
      @include max-screen(800px) {
        right: -70px;
      }
      @include max-screen(475px) {
        right: -50px;
      }
    }
  }
}

footer {
  padding-top: 34px;
  padding-bottom: 68px;
  background: #FFFFFF;

  .container {
    display: flex;
    justify-content: space-between;
    @include max-screen(600px) {
      display: block;
      text-align: center;
    }

    .healthcare {
      max-width: 480px;
      @include max-screen(600px) {
        max-width: 100%
      }

      img {
        margin-bottom: 16px;
      }

      p {
        font-family: 'DM Sans 400', serif;
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 180%;
        color: #646464;

        &:first-of-type {
          margin-bottom: 16px;
        }
      }

      .footer_soc_media {
        display: flex;
        max-width: 180px;
        justify-content: space-between;
        @include max-screen(600px) {
          margin: auto auto 30px;
        }

        .footer_inst span:before {
          background: url("../images/inst_footer.png") 0 -1px;
          width: 18px;
          height: 17px;
        }

        .footer_twitter span:before {
          background: url("../images/Twitter.svg") +1px -1px;
          width: 19px;
          height: 13px;
        }

        .footer_youtube span:before {
          background: url("../images/youtube_footer.svg") 0 -1px;
          width: 18px;
          height: 13px;
        }

        a {
          span {
            background: #646464;
            width: 32px;
            height: 32px;
            border-radius: 50%;
            display: flex;
            justify-content: center;
            align-items: center;

            &:before {
              content: "";
              background-image: url("../images/facebook_icon.svg");
              display: inline-block;
              width: 8px;
              height: 14px;
            }
          }
        }

      }
    }

    .footer_category {
      max-width: 110px;
      @include max-screen(720px) {
        display: none;
      }

      ul {
        list-style: none;
        margin-bottom: 0;

        li {
          margin-bottom: 24px;

          :last-of-type {
            margin-bottom: 0;
          }

          a {
            text-decoration: none;
            font-family: 'Roboto 400', serif;
            font-style: normal;
            font-weight: 400;
            font-size: 14px;
            line-height: 14px;
            color: #646464;
          }
        }
        li:first-of-type a {
          font-family: 'Roboto 700', serif;
          font-style: normal;
          font-weight: 700;
          font-size: 16px;
          line-height: 16px;
          color: #323232;
        }
      }
    }

    .about_category {
      max-width: 110px;
      @include max-screen(850px) {
        display: none;
      }

      ul {
        list-style: none;

        li {
          margin-bottom: 24px;

          &:last-of-type {
            margin-bottom: 0;
          }

          &:first-of-type a {
            font-family: 'Roboto 700', serif;
            font-style: normal;
            font-weight: 700;
            font-size: 16px;
            line-height: 16px;
            color: #323232;
          }

          a {
            text-decoration: none;
            font-family: 'Roboto 400', serif;
            font-style: normal;
            font-weight: 400;
            font-size: 14px;
            line-height: 14px;
            color: #646464;
          }
        }
      }
    }

    .subscribe {
      max-width: 290px;
      @include max-screen(600px) {
        max-width: 100%;
      }

      h4 {
        font-family: 'DM Sans 700', serif;
        font-style: normal;
        font-weight: 700;
        font-size: 16px;
        line-height: inherit;
        color: #323232;
        margin-bottom: 19px;
      }

      p {
        font-family: 'DM Sans 400', serif;
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 180%;
        color: #646464;
        margin-bottom: 14px;
      }

      input {
        font-family: 'Roboto 400', serif;
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 16px;
        color: rgba(117, 117, 117, 0.65);
        display: inline-block;
        width: 100%;
        padding: 12px 20px 12px 20px;
        border: 1.1px solid #E1E2E4;
        border-radius: 5px;
        margin-bottom: 24px;
      }

      button {
        width: 100%;
        background: #40A3F8;
        border: 1.1px solid #E1E2E4;
        border-radius: 5px;
        padding: 12px 12px;

        font-family: 'Roboto 500', serif;
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 16px;
        letter-spacing: 0.02em;
        color: #FFFFFF;
      }
    }
  }
}

.footer_text {
  height: 50px;

  .container {
    display: flex;
    justify-content: space-between;
    @include max-screen(600px) {
      flex-direction: column;
      text-align: center;
    }

    p {

      margin-top: 5px;
      font-family: 'DM Sans 400', serif;
      font-style: normal;
      font-weight: 400;
      font-size: 14px;
      line-height: 14px;
      color: #646464;
    }
  }

  .privacy {
    max-width: 300px;
    display: flex;
    justify-content: space-between;
    @include max-screen(600px) {
      max-width: 100%;
      justify-content: center;
    }

    ul {
      display: flex;
      list-style: none;

      li {
        margin-left: 50px;
      }

      li:first-of-type {
        margin-left: 0;
      }
    }

    a {
      font-family: 'DM Sans 400', serif;
      font-style: normal;
      font-weight: 400;
      font-size: 14px;
      line-height: 14px;
      color: #646464;
      text-decoration: none;
    }
  }
}
